* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.airplane {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-100%);
  width: 150px;
}

header.hero {
  background-image: url('../images/clouds_invert.jpg');
  background-position: bottom;
  background-size: cover;
  min-height: 85vh;
  position: relative;
}

.hero h1 {
  color: #fff;
  text-shadow: 5px 5px 10px rgba(0,0,0,.5);
  text-align: center;
  font-size: clamp(4rem, 18vw, 7rem);
  font-weight: 00;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 3rem;
  width: 100%;
  position: fixed;    
}

.headerMask {
  position: absolute;
  inset: 35px;
  mask: url('../images/clouds.jpg');
  mask-position: bottom;
  mask-size: cover;
  -webkit-mask: url('../images/clouds.jpg');
  -webkit-mask-position: bottom;
  -webkit-mask-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #3e4e88;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
  
li {  display: inline;}

ul {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1em;
  color: #fff;
}

a:hover {
  color: #fbc02d;
}

main {
    max-width: 800px;
    margin: auto;
}

h4 {color: #5A5A5A;}

section p {
  margin: 5px;
}

