@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;1,400&family=Roboto:wght@100;300;400;500&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');





html                            {scroll-behavior:smooth; scroll-padding-top:300px;}
header, .midway                 {text-align:center;}
img                             {width: 100%;height:auto;}
nav, footer                     {font: 1rem/1.5 'Roboto', sans-serif;}
main.content                    {font: 1rem/1.5 'Source Sans Pro', sans-serif;}

/*------ NAVIGATION MENU --------*/
.navbar-nav                     {margin-right: 100px;}


/*------ FOOTER --------*/
footer                          {background-color: #1c2331; color: white;}
footer hr                       {width:60px;background-color:#7c4dff;height:2px;margin:0 0 1.5rem;}
#copyright                      {background-color:rgba(0, 0, 0, 0.2);text-align: center;}


/*------ HERO IMAGE --------*/
.hero                          {position:relative;}
.hero img                      {width:100%;max-width:'vw-100';}
.text_overlay h1               {font:1.5rem'Roboto',sans-serif;color:white;}
.text_overlay p                {font-size:1.25rem'Roboto',sans-serif;color:white;}
.text_overlay                  {position:absolute; margin:auto;top:100px;left:20px;}

/*------ INDEX --------*/
#outpatient, #hour-box        {background-color:rgba(0, 0, 0, 0.5);}
#telemedicine-disclaimer      {background-color:#1c2331;justify-content:center;color:white;text-align:center;}
.content.main                 {text-align:center;color:white;}
#outpatient                   {background-color: rgb(117, 114, 114);color:white;text-align:center;justify-content:center;}
.button                       {padding:.4rem;;background-color:white;text-align: center;border:1px solid #978d8d;color:#978d8d;border-radius: 6px;font-size:1rem;}
#area                         {padding:.4rem;color:white;text-align: center;background-color:#1c2331;border-color:white;border-radius:6px;font-size:1rem;}



/*------ SERVICES --------*/
#service                    {background-color: #1c2331;color: white; font-size: 1rem;}
#service ul                 {list-style-type:circle; columns: 2;-webkit-columns: 2; -moz-columns: 2;}
#generalarea ul             {list-style-type: none; columns: 4; -webkit-columns: 4; -moz-columns: 4;}
#servicearea {font: 1.25rem 'Source Sans Pro', sans-serif;text-align: center;}

/*------ TEAM --------*/
main.content.team           {font: 1rem/1.5 'Raleway', sans-serif;}


/*------ TESTIMONIALS --------*/
.content.testimonials       {font: 1rem/1.5 'Raleway', sans-serif; }
#testimonial-end            {font: 1.2rem 'Source Sans Pro', sans-serif; }
.reviewer                   {font-style:italic;padding-left: 10px;color:darkslategray}
.star-rating i              {font-size:1rem;color:#ffdc12;}
a[href^="https"]            {background-color:steelblue; color: white;}
.content.testimonials > div:last-of-type > p:last-child {font-weight: bold;}


/*------ CONTACT US --------*/
legend                    {font:2rem'Source Sans Pro',sans-serif;text-align:center;}
label                     {font-weight: 500;}
fieldset                  {margin: 1em 0; padding-left: .5em; border: none;}
input:valid               {border: 1px solid black;}
input:invalid             {box-shadow: none;}
input:required, input[required] {border: 3px solid rgb(193, 1, 1);}



/*------ NEW PATIENT INFO --------*/
.content.patient          {font: 1rem/1.5 'Source Sans Pro', sans-serif; }
.patient div > h3         {padding: 10px 0;}
img.new                   {display: block; width:100%;height:auto;border-radius: 6px; margin-left: auto;margin-right: auto; }
#yellowform               {padding:.4rem;border-radius:6px;background-color: #ffc107; border-color:#ffc107;}
.greybtn                  {padding:.4rem;color:white;border-radius:6px;background-color:#555555; border-color:#555555}

/*------ INTAKE FORMS --------*/
.content.forms          {font: 1rem/1.5 'Source Sans Pro', sans-serif; }
#disclaimer               {color: red;}
a[href$=".pdf"]           {padding-left: 50px; text-decoration: none;}
#forms-list h4            {padding-bottom: 10px; text-decoration:underline;}
#form-list                {padding-left: 100px; }
#here, #readone, #readtwo {background-color: white; color:blue}
#mid-form                 {background-color: #1c2331; color: white; text-align: center; padding: 10px 0 0 5px;}
#print-form h3            {text-align: center; margin: 5px 0;}


/*------ INSURANCE & RATES --------*/
#cashrate                 {background-color: #555555;}


/*------ FAQ --------*/
.faq                      {font: 1rem/1.5 'Source Sans Pro', sans-serif;}
#faq hr                   {border: 1px solid rgba(18, 26, 107, 0.927); }
aside #side               {position: sticky; top: 1rem; align-self: start;  z-index: 9999; background-color:#474747;}
#side .nav-link.active, #side .nav-link:hover, #side .nav-link:focus  {color: #111; border-bottom: 1px #000 solid;}

/*------ ACCORDIONS --------*/
.accordion {border-width: 5em;}
.accordion-button:focus { box-shadow: none;  border-color: rgba(0,0,0,.125);  border-width: 3em;}


/*------ MEDIA QUERIES --------*/

@media screen and (max-width: 960px) {

}



@media (max-width: 767px) {
  footer            {text-align:center;}
  footer hr         {margin-left:auto;margin-right: auto;}
  #sidenav          {font-size: 1rem; }
  .navbar-nav       {margin-right:0;}
  
  main.teamcontent  {margin: 0 15px;}
  a[href$=".pdf"]   {padding: 0;}
  #form-list        {padding:0; text-align:center; }
 
}

@media (max-width: 576px) {
  img.new           {vertical-align: middle;}
  #service ul       {columns: 1; -webkit-columns: 1; -moz-columns: 1;}
  #generalarea ul   {columns: 2; -webkit-columns: 2; -moz-columns: 2; margin-bottom: -1rem;}   
  nav {margin-right: 0px; padding-left: 5px;}
}